* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}


.container {
    width: 100%;
    height: 755px;
}


.header {
    font-family: 'Roboto';
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}



.content {
    width: 100%;
    height: 695px;
    background-image: url("./images/Rectangle.png");
}


.img1 img {
    width: 100%;
    height: 695px;
    
}


  
.logo {
    cursor: pointer;
  }
  

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
  }
  

.nav__links {
    /* display: flex;
    justify-content: center; */
    list-style: none;
    display: flex;
  }
  

.nav__links li {
    padding: 0px 20px;
  }
  

.nav__links li a {
    transition: color 0.3s ease 0s;
  }
  

.nav__links li a:hover {
    color: palevioletred;
  }
  

.cta {
    padding: 9px 25px;
    background-color: #6F2CFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    color: white;
    
  }
  

.cta:hover {
    background-color: palevioletred;
  }
  
  /* Mobile Nav */
  

.menu {
    display: none;
  }
  

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
 }


.overlay--active {
    width: 100%;
  }
  

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
    color: white;
  }
  

.overlay a:hover,
.overlay a:focus {
    color: palevioletred;
  }
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}



.content {
  display: flex;
  align-items: center;
  padding: 100px;
}



.texts {
  width: 500px;
  height: 400px;
  font-family: 'Roboto';
}



.txt1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: black;
}



.txt2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  color: black;
}



.txt3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  color: #6F2CFF;
}



.txt4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: black;
}



.poisk input{
  height: 45px;
  width: 268px;
  border-radius:  50px 0px 0px 50px;
  border-color: #6F2CFF;
}



.but {
  height: 45px;
  width: 187px;
  background: #6F2CFF;
  border-radius: 0px 27.5px 27.5px 0px;
  color: white;
  margin-left: -10px;
  border: #6F2CFF;

}



.brends {
  height: 210px;
  width: 100%;
  font-family: 'Roboto';
}



.nav_brends {
  margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7%;
    list-style: none;
}



.h4 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}



.h5 {
  height: 35px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 11%;
  border-bottom: 2.5px solid #6F2CFF;
}



.h6 {

  display: flex;
  justify-content: center;
}


.content3 {
  width: 100%;
  height: 967px;
  background: #F5F5F5;
}


.txtcon3 {
  font-family: 'Roboto';
  width: 100%;
  height: 225px;
  padding: 68px;
}


.h13 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  margin: 22px;
}


.p3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
}


.img33 {
  display: flex;
  justify-content: center;
  padding: 60px;
}


.img3 {
  display: flex;
  width: 996px;
  height: 560px;
  background-image: url(./images/Rectangle8.png);
}


.butcont {
  display: flex;
  justify-content: center;
}


.butcon3 {
  height: 45px;
  width: 187px;
  background: #6F2CFF;
  color: white;
  margin-left: -10px;
  border: #6F2CFF;
  border-radius: 30px;
}

.butcon34 {
  height: 45px;
  width: 187px;
  background: white;
  color: #6F2CFF;
  margin-left: -10px;
  border-radius: 30px;
  border: white;
}

.content4 {
  width: 100%;
  height: 695px;
  font-family: 'Roboto';
}

.h1con4 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 58px;
}
.pcon4 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  margin-top: 22px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 130px;
  margin-top: -70px;
  font-family: 'Roboto';
}
.grid-item {
  width: 400px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  font-size: 20px;

}

.imgrid {
  display: flex;
  justify-content: center;
  margin: auto;
  background-image: url(./images/poisk.png);
  width: 37px;
  height: 37px;
}

.h1grid {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  padding: 20px;
  font-weight: 700;
  font-size: 19px;
}

.pgrid {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 300px;
  font-weight: 500;
  font-size: 15px;
}


.content5 {
  width: 100%;
  height: 673px;
  background-color: #17002E;
  font-family: 'Roboto';
}

.h15 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  padding: 60px;
}


.imgrid2 {
  display: flex;
  justify-content: center;
  margin: auto;
  background-image: url(./images/Vector.png);
  width: 28px;
  height: 24px;
}


.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  font-family: 'Roboto';
}


.grid-item2 {
  width: 350px;
  height: 450px;
  background-color: #edf0f1;
  border-radius: 7px 7px 7px 7px;
}

.gridimg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/Rectangle342.png);
  width: 350px;
  height: 205px;
  border-radius: 7px 7px 0px 0px;
}

.imgyut {
  background-image: url(./images/yut.png);
  width: 75px;
  height: 50px;
}

.txtgrid {
  margin: auto;
  margin-top: 25px;
  background-image: url(./images/Rectangle\ \(1\)1.png);
  width: 160px;
  height: 35px;
}

.pgrid2 {
  text-align: center;
  width: 185px;
  height: 88px;
  margin: auto;
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #6F2CFF;
}

.gridimg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/Rectangle-1.png);
  width: 350px;
  height: 205px;
  border-radius: 7px 7px 0px 0px;
}

.txtgrid2 {
  margin: auto;
  margin-top: 25px;
  background-image: url(./images/Rectangle\ \(2\)2.png);
  width: 165px;
  height: 35px;
}

.pgrid3 {
  text-align: center;
  width: 219px;
  height: 66px;
  margin: auto;
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #6F2CFF;
}


.gridimg3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/Rectangle-2.png);
  width: 350px;
  height: 205px;
  border-radius: 7px 7px 0px 0px;
}


.txtgrid3 {
  margin: auto;
  margin-top: 25px;
  background-image: url(./images/Rectangle\ \(3\)3.png);
  width: 75px;
  height: 35px;
}




.content6 {
  width: 100%;
  height: 942px;
}


.h1c6 {
  display: flex;
  justify-content: center;
  margin-top: 57px;
  font-weight: 700;
  font-size: 40px;
}

.pc6 {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding: 360px;
  margin-top: -320px;
}

.grid-item3 {
  width: 400px;
  height: 200px;
  background: #17002E;
  border-radius: 8px 10px 10px 8px;
  margin: 30px;
}


.frame1 {
  background-image: url(./images/Frame\ \(1\).png);
  width: 50px;
  height: 50px;
  margin: 20px;
}

.h3c6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  width: 194px;
  height: 50px;
  color: white;
}

.p2c6 {
  width: 380px;
  height: 44px;
  color: white;
  margin: 20px;
  font-weight: 400;
  font-size: 15px;
}

.p3c6 {
  font-weight: 400;
  font-size: 15px;
  width: 348px;
  height: 35px;
  color: white;
  margin: 20px;
  margin-top: -10px;
  border-bottom: 2.5px solid white;
}

.frame2 {
  background-image: url(./images/Frame\ \(2\).png);
  width: 50px;
  height: 50px;
  margin: 20px;
}
.frame3 {
  background-image: url(./images/Frame\ \(3\).png);
  width: 50px;
  height: 50px;
  margin: 20px;
}
.frame4 {
  background-image: url(./images/Frame\ \(4\).png);
  width: 50px;
  height: 50px;
  margin: 20px;
}
.frame5 {
  background-image: url(./images/Frame\ \(5\).png);
  width: 50px;
  height: 50px;
  margin: 20px;
}
.frame6 {
  background-image: url(./images/Frame\ \(6\).png);
  width: 50px;
  height: 50px;
  margin: 20px;
}










/* .content7 {
  width: 100%;
  height: 514px;
  background-color: #20003C;
} */








body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  width: 100%;
  height: 514px;
	background-color: #20003C;
    padding: 70px 0;
}

.pol {
  width: 1000px;
  height: 150px;
  padding: 0 148px;
}

.work {
  margin-left: 1000px;
  width: 1000px;
  height: 100px;
}


.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}